<p *ngIf="canEditProduct === 0" class="alert alert-danger">can't change product information</p>
<div class="col-md-4">

    <div class="form-group">
        <label for="pname">Product Name</label>
        <input type="text" class="form-control" [value]="prodObj.pname" [disabled]="canEditProduct === 0" #pname>
    </div>

    <div class="form-group">
        <label for="pstatus">Product Status</label>
        <select name="" id="" class="form-control" [value]="prodObj.pstatus" [disabled]="canEditProduct === 0" #pstatus>
            <option value="In Progress">In Progress</option>
            <option value="Dispatched">Dispatched</option>
            <option value="Delivered">Delivered</option>
        </select>
    </div>

    <div class="text-right">

        <!-- <button class="btn btn-warning" (click)="onUpdate(pname, pstatus)">Update Product</button> -->

        <button mat-raised-button color="accent" [disabled]="canEditProduct === 0"
            (click)="onUpdate(pname, pstatus)">Update
            Product</button>

    </div>


</div>